@import url(https://fonts.googleapis.com/css?family=Arvo:400,400italic,700);body {
  background-color: #000;
  color: #fff;
  font-family: Arvo,serif;
  margin: 0;
  padding: 0
}

a {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  padding: .1em .2em
}

.header {
  padding-top: 2em
}

.social {
  text-align: right
}

.social .links {
  list-style: none
}

.social .links .item {
  display: inline-block;
  margin-left: .5em;
  cursor: pointer
}

.social .links a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  color: #333;
  font-size: 2.2em;
  text-align: center;
  padding: .3em;
  background-image: radial-gradient(circle at center,#fff 50%,#000 0);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: 50%;
  transition: all .2s linear;
  border: 3px solid #fff
}

.social .links a:hover {
  background-position: 200%;
  color: #fff
}

.hello {
  font-size: 4em;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: .5em
}

.i-am {
  font-size: 2.2em;
  font-weight: 400;
  margin-top: 0
}

.main {
  margin: 2.5em 1.5em;
  max-width: 960px;
  margin: 0 auto
}

.about p {
  margin: 0 0 1em
}

.skills {
  padding: 0;
  margin: 0
}

.skills .skill {
  background: #fff;
  color: #000;
  display: inline-block;
  padding: .3em;
  margin-right: .3em;
  font-style: italic
}

.jobs {
  column-count: 4;
  width: 100%
}

.jobs .thumb {
  margin: 0
}

.jobs .job {
  display: inline-block;
  margin: 0 0 1.2em;
  width: 100%;
  break-inside: avoid-column;
  background-color: #1a1a1a
}

.jobs .job img {
  max-width: 100%;
  height: auto
}

.jobs .title {
  font-weight: 400;
  padding: .8rem .8rem .3rem;
  margin-bottom: 0
}

.jobs .description {
  padding: 0 .8rem;
  font-size: .8em
}

.jobs .fetures {
  padding: 0 .8em .8em;
  margin: 0;
  list-style: none;
  font-size: .8em
}

.jobs .fetures li {
  margin-bottom: .2em
}

.jobs .fetures a {
  background: #000;
  color: #fff
}

.jobs .fetures a:hover {
  background: #fff;
  color: #000
}
